@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap');

* {
    margin: 0;
    padding: 0;
}
.footer-container{
    width: 100%;
    background-color: black;
    padding: 15px;
    font-family: 'Cascadia Code', monospace;
    font-size: x-large;
    box-sizing: border-box;
    
}
  .footer-link {
    color: white;
    text-decoration: none;
  }
  
  .footer-link:hover {
    text-decoration: underline;
  }  

